@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body {
    width: 1440px;
    height: 1517px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
  }

// Home page
.header {
    width: 1240px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    //margin: 0 auto;
    margin-left: 40px;
  

    .header_nav {
        width: 409px;
        height: 34px;
        margin-top: 17px;
    }
            
}
nav a {
    width: 136px;
    height: 34px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    margin-left: 60px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        }
    }

.active-link {
    text-decoration: underline;
}
.header_logo {
    display: flex;
    align-items: baseline;
    width: 210px;
    height: 68px;
    gap: 5px;

    &--K {
        width: 54px;
        height: 62px;
    }

    &--houseGroup  {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 46px;
        height: 53px;
    }

    &--house {
        width: 46px;
        height: 53px;
    }

    &--door {
        position: absolute;
        width: 5px;
        height: 16px;
        top: 32px;
        left: 32px;
    }

    &--s {
        width: 39px;
        height: 48px;
    }

    &--a {
        width: 41px;
        height: 48px;
    }
}

.footer {
    width: 100%;
    height: 209px;
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
        
            .footer_logo {
                width: 122px;
                height: 39px;
                display: flex;
                align-items: baseline;
                gap: 5px;
                margin-top: 60px;
                margin-bottom: 20px;

                &--K {
                    width: 32px;
                    height: 36px;
                }
            
                &--houseGroup  {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: baseline;
                    width: 27px;
                    height: 31px;
                }
            
                &--house {
                    width: 27px;
                    height: 31px;
                }
            
                &--door {
                    position: absolute;
                    width: 3px;
                    height: 9px;
                    top: 19px;
                    left: 19px;
                }
            
                &--s {
                    width: 23px;
                    height: 28px;
                }
            
                &--a {
                    width: 24px;
                    height: 28px;
                }
            }

            .footer_text {
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 500;
                line-height: 34.22px;
                text-align: center;
                color: rgba(255, 255, 255, 1);
                margin-top: 20px;
            }
        }

.gallery {
    width: 1120px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 25px;
    background: rgba(246, 246, 246, 1);
    margin-left: 40px;
    padding: 60px;
}
.card {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    
        &_title {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            text-align: left;
            color:rgba(255, 255, 255, 1);
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            position: absolute;
            top: 250px;
            left: 0;
        }

        &_img {
            max-width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

}

.banner {
    width: 1240px;
    height: 223px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 40px;
   
  
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1; 
      }

    &-text {
        color: white;
        padding: 10px;
        border-radius: 25px;
        z-index: 2;
        text-align: center;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 68px;
    }
  }

